extends layout

block content

  div.content
    div.wrapper
      form.form-inline(method='Post' action='mailer')
        div.form
          h4 Name:
          div.radiobuttons
            label Mr. 
              input(type='radio' name='Preferance' value='Mr.' required)
            label Mrs.
              input(type='radio' name='Preferance' value='Mrs.' required)
            label Ms. 
              input(type='radio' name='Preferance' value='Ms.' required)
            label Dr. 
              input(type='radio' name='Preferance' value='Dr.' required)
            
          input.form-control(name='First' placeholder='First' required)
          input.form-control(name='Last' placeholder='Last' required)
        
        div.form
          h4 Address: 
          input.form-control(name='Street' placeholder='Street' required)
          input.form-control(name='City' placeholder='City' required)
          br
          input.form-control(name='State' placeholder='State' required)
          input.form-control(name='Zip' placeholder='Zip' required)
        
        div.form
          h4 Contact:
          input.form-control(name='Phone' placeholder='Phone')
          input.form-control(name='Email' placeholder='Email')
        
        div.form
          div.contactMethod
            h4 Contact Method:  
            label Mail 
              input(id='chk1' type='checkbox' value='Mail')
            label Phone
              input(id='chk2' type='checkbox' value='Phone')
            label Email
              input(id='chk3' type='checkbox' value='Email')
        
        input.btn.btn-primary(id='formBtn' type='submit')
        
