extends layout

block content
  button.btn.btn-primary.btn-lg(style='margin-top:50px;', type='button', data-toggle='modal', data-target='#myModal') Launch demo modal

  div(class='modal fade', id="myModal", tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button(type="button", class="close", data-dismiss="modal") x
          h3 Modal Header
        .modal-body
          p One fine body...
        .modal-footer
          button(type="button" class="btn btn-default" data-dismiss="modal")
