#modalBttn{
  margin-top: 5px;
  width: 95%;
  margin-bottom: 10px;
}
.content {
  min-width: 300px;
}

/*----Start of Search options--------*/
.searchButtons {
  margin-bottom: 10px;
}
.searchInputs {
  margin-bottom: 10px;
}
#address{
  margin-left: 2px;
}
#search {
  padding-right: 10px;
}
#searchName {
  width: 92%;
}
#searchAddress{
  width: 92%;
}
.ContactsList li a{
  padding-left: 10px;
  cursor: pointer;
}
/*-----------------------------------*/
#list{
  margin-top: 50px;
  position: fixed;
  height: 90%;
  overflow: hidden;
  overflow: scroll;
  z-index: 2;
}

.contactBubble{
  text-align: left;
  opacity: .85;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px
}
.contactBubble li p{
  display: inline;
}
.contactBubble li a{
  float: right;
  margin-right: 5px;
}

/*Editable Bubble*/
.editableBubble{
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px
}
.editableBubble li p{
  display: inline;
}
.editableBubble li a{
  float: right;
  margin-right: 5px;
}

#map {
  position: absolute;
  padding-left: 0;
  margin-left: 0;
  height: 90%;
  width: 100%;
  z-index: 1;
}
.contactMethod h5{
  display: inline-block;
  margin-right: 10px;
}
.contactMethod input{
  margin-right: 2px;
}
.formWrapper{
  text-align: center;
}
.modalBttn{
  margin-right: 15px;
}

.style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
  border-bottom: solid 2px #969696;
}
