.content {
  margin-top: 50px;
}
  #list{
    position: fixed;
    height: 90%;
    overflow: hidden;
    overflow: scroll;
    z-index: 2;
  }
  #contactBubble{
    text-align: left;
    opacity: .8;
    padding-left: 5px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  #map {
    position: absolute;
    padding-left: 0;
    margin-left: 0;
    height: 90%;
    width: 100%;
    z-index: 1;
  }
