body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar {
  box-shadow: 0px 5px 5px #999;
}
a {
  color: #00B7FF;
}
.content {
  margin-top: 50px;
  text-align: center;
}
.content .wrapper {
  display: inline-block;
  text-align: left;
}
.ContactsList {
  list-style: none;
}
.radiobuttons label{
  padding-right: 1em;
  padding-left: 2px;
}
#successTitle{
  text-align: center;
  padding-top: 70px;
}
#subTitle{
  text-align: center;
}
.login {
  margin-top: 100px;
  text-align: center;
}
.login label {
  padding-right: 5px;
}
.login p {

}
