body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ContactsList {
  list-style: none;
}
.radiobuttons label{
  padding-right: 1em;
  padding-left: 2px;
}
